<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>struts</display-name>
  <!--配置struts核心控制器 -->
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   
  <!--配置过滤器-->
 <filter>    
   <filter-name>SessionInvalidate</filter-name>    
   <filter-class>com.tool.MyFilter</filter-class> 
   <init-param>    
     <param-name>checkSessionKey</param-name>  
     <param-value>users</param-value>    
   </init-param>    
   <init-param>    
     <param-name>redirectURL</param-name>  
     <param-value>/index.jsp</param-value>    
   </init-param>    
   <init-param>    
     <param-name>notCheckURLList</param-name> 
     <param-value>/index.jsp</param-value>    
   </init-param>    
 </filter>    
   
 <filter-mapping>    
   <filter-name>SessionInvalidate</filter-name> 
   <url-pattern>*.jsp</url-pattern>    
 </filter-mapping> 
  
  
  <!--定义struts标签库-->
  <jsp-config>
	  <taglib>
	  	<taglib-uri>/struts-tags</taglib-uri>
	  	<taglib-location>org.apache.struts2.struts2-core.struts2-core-2.2.1.jar</taglib-location>	
	  </taglib>
  </jsp-config>
  <!--引用Spring的配置文件-->
     <context-param> 
        <param-name> 
            contextConfigLocation 
        </param-name> 
        <param-value> 
            /WEB-INF/applicationContext.xml 
        </param-value> 
    </context-param> 
    <listener> 
        <listener-class> 
            org.springframework.web.context.ContextLoaderListener 
        </listener-class> 
    </listener>

 </web-app>